body {
    font-family: 'Roboto', sans-serif;
    background-color: antiquewhite;
    max-width: 1200px;
      margin: 20px auto;
      padding: 0 20px;
      max-width: 1200px;
}

.main-container h1  {
    color:rgb(104, 98, 98);

}

.cafe-container-container {
    margin-top:5%;
    color:rgb(104, 98, 98);

}

.cafe-container{
    /* border: solid 1px rgb(161, 153, 153); */
    padding: 1%;
    margin:1%;
    border-radius: 5px;
    transform:translateX(-2%)
    
}

.cafe-container img{
    width:20%;
    height:120%;
    border-radius:5%;
}

.cafe-header {
 text-align:center;
 margin-top:5%;
 color:rgb(104, 98, 98);
 
}

.cafe-header img {
    height:300px;
    width:300px;
    border-radius:100%;
    margin:1%;
}